/*
:root {
    --main-color: red;
    --main-color: #db4a37;
    --dark-color: #343436;
}
*/

/* strong {
    color: white;
}
*/

body {
    /* background: var(--dark-color); */
    background: #f5f5f5;
}


/*
 navbar
*/
.navbar {
    border-bottom: 2px solid;
    background: transparent;
    color: white;
}

.navbar>.container {
background-color: #00d1b2;
}

.navbar-item {
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-image: linear-gradient(141deg,#009e6c 0,#00d1b2 71%,#00e7eb 100%);
    }
}

.hero {
    margin-bottom: 1rem;
    margin-top: -55px;
}

.hero .hero-body {
    margin-top: 60px;
}

.hero.is-primary .subtitle {
    color: #222222;
}

.container {
    /* max-width: 900px; */
    max-width: 1000px;
}

.container.is-fluid {
    color: #e5e5e5;
}

.content blockquote {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    background: #e5e5e5;
    /*margin: 5rem 3rem;*/
    /*margin-bottom: 5rem !important;*/
}

.footer {
    margin-top: 1rem;
    padding: 3rem 1.5rem;
    background-color: #e5e5e5;
}

.content .mt-0 {
    margin-top: 0;
}

/*
.none {
  text-justify: none;
}

.auto {
  text-justify: auto;
}

.dist {
  text-justify: distribute;
}

.word {
  text-justify: inter-word;
}

.char {
  text-justify: inter-character;
}
*/

/* responsive-video.css */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
  }
   
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
