<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>{{ site.title }} - {{ site.subtitle }}</strong>
    </p>

    <p>
      Esta obra está bajo una
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.es">
        Licencia Creative Commons Atribución 4.0 Internacional
      </a>.
    </p>
  </div>
</footer>
