 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <meta name="description" content="Conversatorio sobre redes comunitarias de acceso a Internet en el entorno rural" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Conversatorio sobre redes comunitarias de acceso a Internet en el entorno rural" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://chocancharava.libre.org.ar/conversatorio" />
    <meta property="og:image" content="https://chocancharava.libre.org.ar/assets/img/conversatorio.RRCC.ruralidad.png" />
    <meta property="og:description" content="Conversatorio sobre redes comunitarias de acceso a Internet en el entorno rural" />

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//metricas.ciap.org.ar/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '5']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

  </head>
