<section class="hero {% if page.hero_height=='large' %} {{ 'is-large' }} {% else %}
 is-small {% endif %} is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title {% if page.hero_height=='large' %} is-1 {% else %} is-2 {% endif %}">
        {{ page.title }}
      </h1>
      <h2 class="subtitle {% if page.hero_height=='large' %} is-3 {% else %} is-4 {% endif %}">
        {{ page.subtitle }}
      </h2>
    </div>
  </div>
</section>
