<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    {% include navbar.html %}

    {% unless page.hide_hero %}
       {% include hero.html %}
    {% endunless %}

    <section class="section content">
      <div class="container">
        <div class="content is-medium">
          <div class="columns">
          <div class="column {{ content_width }}">
            {{ content }}
          </div>
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
