<!DOCTYPE html>
<html>
  {% include head-mapa.html %}
  <body>

    {% include navbar.html %}

    {% unless page.hide_hero %}
       {% include hero.html %}
    {% endunless %}

    <section class="section content">
      <div class="container">
        <!-- Insert HTML division tag to layout the map -->
        <div id="map" style="height:735px"></div>
      </div>
    </section>

    {% include script-mapa.html %}
    {% include footer.html %}

  </body>
</html>
